/* Header */
header {
    text-align: center;
    color: white;
  }
  header nav {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  header nav > a {
    text-decoration: none;
    border: 1px solid black;
    padding: 0.5rem 2rem;
    color: black;
  }
  header nav > .active {
    background: black;
    color: white;
  }
  
  